microservices-new/.vscode/settings.json
microservices-new/product-service/target/product-service-1.0-SNAPSHOT.jar
microservices-new/product-service/target/product-service-1.0-SNAPSHOT.jar.original
microservices-new/product-service/target/classes/application.properties
microservices-new/product-service/target/classes/com/borczeangelov/productservice/ProductServiceApplication.class
microservices-new/product-service/target/classes/com/borczeangelov/productservice/controller/ProductController.class
microservices-new/product-service/target/classes/com/borczeangelov/productservice/dto/ProductRequest.class
microservices-new/product-service/target/classes/com/borczeangelov/productservice/dto/ProductRequest$ProductRequestBuilder.class
microservices-new/product-service/target/classes/com/borczeangelov/productservice/dto/ProductResponse.class
microservices-new/product-service/target/classes/com/borczeangelov/productservice/dto/ProductResponse$ProductResponseBuilder.class
microservices-new/product-service/target/classes/com/borczeangelov/productservice/model/Product.class
microservices-new/product-service/target/classes/com/borczeangelov/productservice/model/Product$ProductBuilder.class
microservices-new/product-service/target/classes/com/borczeangelov/productservice/repository/ProductRepository.class
microservices-new/product-service/target/classes/com/borczeangelov/productservice/service/ProductService.class
microservices-new/product-service/target/maven-archiver/pom.properties
microservices-new/product-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
microservices-new/product-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
microservices-new/product-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
microservices-new/product-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
microservices-new/product-service/target/surefire-reports/com.borczeangelov.productservice.ProductServiceApplicationTests.txt
microservices-new/product-service/target/surefire-reports/TEST-com.borczeangelov.productservice.ProductServiceApplicationTests.xml
microservices-new/product-service/target/test-classes/com/borczeangelov/productservice/ProductServiceApplicationTests.class
microservices-new/order-service/target/order-service-1.0-SNAPSHOT.jar
microservices-new/order-service/target/order-service-1.0-SNAPSHOT.jar.original
microservices-new/order-service/target/classes/application.properties
microservices-new/order-service/target/classes/com/borczeangelov/orderservice/OrderServiceApplication.class
microservices-new/order-service/target/classes/com/borczeangelov/orderservice/controller/OrderController.class
microservices-new/order-service/target/classes/com/borczeangelov/orderservice/dto/OrderLineItemsDto.class
microservices-new/order-service/target/classes/com/borczeangelov/orderservice/dto/OrderRequest.class
microservices-new/order-service/target/classes/com/borczeangelov/orderservice/model/Order.class
microservices-new/order-service/target/classes/com/borczeangelov/orderservice/model/OrderLineItems.class
microservices-new/order-service/target/classes/com/borczeangelov/orderservice/repository/OrderRepositroy.class
microservices-new/order-service/target/classes/com/borczeangelov/orderservice/service/OrderService.class
microservices-new/order-service/target/maven-archiver/pom.properties
microservices-new/order-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
microservices-new/order-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
microservices-new/order-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
microservices-new/order-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
microservices-new/order-service/target/surefire-reports/com.borczeangelov.orderservice.OrderServiceApplicationTests.txt
microservices-new/order-service/target/surefire-reports/TEST-com.borczeangelov.orderservice.OrderServiceApplicationTests.xml
microservices-new/order-service/target/test-classes/com/borczeangelov/orderservice/OrderServiceApplicationTests.class
microservices-new/inventory-service/target/inventory-service-1.0-SNAPSHOT.jar
microservices-new/inventory-service/target/inventory-service-1.0-SNAPSHOT.jar.original
microservices-new/inventory-service/target/classes/application.properties
microservices-new/inventory-service/target/classes/com/borczeangelov/inventoryservice/InventoryServiceApplication.class
microservices-new/inventory-service/target/classes/com/borczeangelov/inventoryservice/controller/InventoryController.class
microservices-new/inventory-service/target/classes/com/borczeangelov/inventoryservice/model/Inventory.class
microservices-new/inventory-service/target/classes/com/borczeangelov/inventoryservice/repository/InventoryRepository.class
microservices-new/inventory-service/target/classes/com/borczeangelov/inventoryservice/service/InventoryService.class
microservices-new/inventory-service/target/maven-archiver/pom.properties
microservices-new/inventory-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
microservices-new/inventory-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
microservices-new/inventory-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
microservices-new/inventory-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
microservices-new/inventory-service/target/surefire-reports/com.borczeangelov.inventoryservice.InventoryServiceApplicationTests.txt
microservices-new/inventory-service/target/surefire-reports/TEST-com.borczeangelov.inventoryservice.InventoryServiceApplicationTests.xml
microservices-new/inventory-service/target/test-classes/com/borczeangelov/inventoryservice/InventoryServiceApplicationTests.class
